@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,100;1,700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

body.dark{
    background-image: url('../images/bg-desktop-dark.jpg');
    background-size: 100% 230px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: hsl(235, 21%, 11%);
    color: white;
}

body.light{
    background-image: url('../images/bg-desktop-light.jpg');
    background-size: 100% 230px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 98%);
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#btnChangeTheme {
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main {
    width: 50%;
    /* min-height: 350px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    row-gap: 30px;
}

.listBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 14px 10px 12px 4px rgba(0,0,0,0.78);
    -webkit-box-shadow: 14px 10px 12px 4px rgba(0,0,0,0.78);
    -moz-box-shadow: 14px 10px 12px 4px rgba(0,0,0,0.78);
}

main.dark .listBlock{
    background-color: hsl(235, 24%, 19%);
    color: white;
}

main.light .listBlock{
    background-color: hsl(0, 0%, 100%);
    color: black;
}


.todoEntry {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.todoEntry input[type='text']{
    height: 40px;
    width: 100%;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 25px;
}

main.dark .todoEntry input[type='text']{
    background-color: hsl(235, 24%, 19%);
    color: white;
}
main.light .todoEntry input[type='text']{
    background-color: hsl(0, 0%, 100%);
    color: black;
}

#titleCategoriesTodos{
    display: none;
}

ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    cursor: move;
    padding: 0 10px;
}

ul li h3{
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 400;
}

ul li.selected {
    /* transform: scale(1.02) rotate(-2deg); */
    box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
    background-color: lightsteelblue;
}

ul li.ghost {
    border: 2px dotted black;
}

ul li.drag {
    opacity: 0;
}


ul li input[type='checkbox']{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

ul li button {
    background-color: transparent;  
    border: none;
    font-size: 22px;
    font-weight: lighter;
    cursor: pointer;
}

main.dark ul li button {
    color: whitesmoke;
}
main.light ul li button {
    color: black;
}


.footerTodoList{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    padding: 20px;
}


#todosLefts{
    cursor: inherit;
    font-weight: lighter;
    opacity: 0.7;
}

.footerTodoList a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

main.dark .footerTodoList a {
    color: white;
}
main.light .footerTodoList a {
    color: black;
}

main .footerTodoList a:hover {
    font-weight: bold;
    color: hsl(273, 100%, 65%);
    cursor: pointer;
}

main .footerTodoList a.selectedList {
    color: hsl(229, 100%, 65%);
}


ul li h3.checked {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: solid;
    opacity: 0.6;
    transition: ease-out 0.8s;
}

@media (max-width:1100px) {
    .footerTodoList{
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
    }
}